/* Containers */
.mainContainer {
	display: flex;
	height: 100vh;
	width: 100%;
}

.textContainer {
	margin-right: 150px;
	margin-top: 100px;
	margin-left: 100px;
	width: 40%;
	max-width: 1000px;
}

.imageContainer {
	position: relative;
	margin-top: 100px;
	margin-left: 15vw;

	width: auto;
	height: 75vh;
}

.image {
	height: 100%;
}

/* Styles */

.sectionTitle {
	margin-top: 25%;
	font-family: 'Lora', serif;

	font-weight: 400;
	font-size: 8rem;
	text-align: left;
	color: var(--nord0);
}

.sectionTitle:hover {
	color: var(--nord3);
}

.descriptionContainer {
	padding-left: 12px;
	border-left: 2px solid gray;

	font-family: 'Raleway', sans-serif;
	font-size: 1.3rem;
	text-align: left;
}
